body {
  /****************DASHBOARD**************************/
  /****************EMPLEADOS**************************/
}
body .contLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
body .contLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .contIzq {
  border-radius: 8% 0 0 8%;
}
body .contDer {
  border-radius: 0 8% 8% 0;
}
body .contIzq,
body .contDer {
  box-shadow: 0 8px 50px -4px rgba(0, 0, 0, 0.5);
}
body .contIzq {
  background-color: #d6882c;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  position: relative;
}
body .contDer {
  background-color: #093e3b;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
body .contFondo {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contFondo img {
  width: 95%;
  border-radius: 7%;
}
body .eslogan {
  color: white;
  font-weight: bold;
  font-size: 35px;
  width: 30%;
  text-align: center;
  margin: 3%;
  position: absolute;
  top: 35%;
}
body .textLogin {
  font-size: 20px;
  font-weight: bold;
}
body .logo {
  width: 50%;
  height: 50%;
}
body .whiteletter {
  color: white;
}
body .dropdown {
  max-height: 200px;
}
body .color1 {
  background-color: #d6882c;
}
body .color2 {
  background-color: #e49b44;
}
body .color3 {
  background-color: #093e3b;
}
body .color4 {
  background-color: #3c745c;
}
body .color5 {
  background-color: #855113;
}
body .text-color1 {
  color: #d6882c;
}
body .text-color2 {
  color: #e49b44;
}
body .text-color3 {
  color: #093e3b;
}
body .text-color4 {
  color: #3c745c;
}
body .text-color5 {
  color: #855113;
}
body .cl-w {
  color: white;
}
body .mrg-l4 {
  margin-left: 40px;
}
body .hover-text-color4:hover {
  color: #3c745c;
}
body .selectClients {
  cursor: pointer;
}
body .selectClients,
body input[type="date"] {
  background-color: #855113;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
}
body input[type="date"]::-webkit-calendar-picker-indicator {
  filter: hue-rotate(90deg);
}
body .contMapa {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 30px;
}
body #elMeuMapa {
  width: 45%;
  height: auto;
  border: solid 5px #093e3b;
  border-radius: 10px;
  z-index: 0;
}
body .pdbottom {
  padding-bottom: 30px;
}
body .mascara {
  width: 44.5%;
  height: 100%;
  background-color: black;
  position: absolute;
  right: 4%;
  opacity: 0.7;
  border-radius: 2%;
}
body .contUbis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
body .contFormUbis {
  margin: 3%;
  width: 40%;
  height: 69vh;
  display: flex;
  flex-direction: column;
  gap: 6%;
}
body .contFilter {
  width: 100%;
  height: 17%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .contTabla {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77%;
  overflow-y: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body .contTabla table {
  width: 100%;
  /* 140px * 5 column + 16px scrollbar width */
  border: 4px solid #093e3b;
  font-weight: bold;
  user-select: none;
}
body .contTabla tbody,
body .contTabla thead tr {
  display: block;
}
body .contTabla tbody {
  height: 338px;
  overflow-y: auto;
  overflow-x: hidden;
}
body .contTabla tbody tr:hover {
  cursor: pointer;
}
body .contTabla tbody tr:active {
  background-color: #f0f0f0;
}
body .contTabla thead {
  background-color: #093e3b;
  color: white;
}
body .contTabla thead tr:nth-child(1) {
  background-color: #093e3b;
}
body .contTabla tbody td,
body .contTabla thead th {
  width: 8%;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
body .contTabla tr i {
  font-size: 20px;
  color: #093e3b;
}
body .contTabla tr:nth-child(even) {
  background-color: white;
}
body .contTabla tr:nth-child(odd) {
  background-color: #b8e2df;
}
body .contTabla tbody::-webkit-scrollbar {
  width: 10px;
}
body .contTabla tbody::-webkit-scrollbar-track {
  background-color: #3c745c;
}
body .contTabla tbody::-webkit-scrollbar-thumb {
  background-color: #093e3b;
}
body .borRad {
  border-radius: 30px;
}
body .inputNombre {
  background-color: white;
  border: none;
}
body .inputNombre:focus {
  border-color: #d6882c;
  --tw-ring-shadow: #d6882c;
}
body .contInput {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border-width: 3.5px;
  background: white;
}
body .contInput i {
  color: white;
  font-size: 30px;
}
body .borderColor1 {
  border-color: #855113;
}
body .borderColor2 {
  border-color: #093e3b;
}
body .contIcon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .fav {
  border: 2px solid #855113;
  border-radius: 3px;
  margin: 5px;
  transform: scale(2);
  cursor: pointer;
}
body .fav:checked {
  border-color: #855113;
  color: #855113;
}
body .fav:focus {
  --tw-ring-shadow: none;
  --tw-ring-offset-shadow: none;
}
body .fav2 {
  border: 2px solid #093e3b;
  border-radius: 3px;
  margin: 5px;
  transform: scale(2);
  cursor: pointer;
}
body .fav2:checked {
  border-color: #093e3b;
  color: #093e3b;
}
body .fav2:focus {
  --tw-ring-shadow: none;
  --tw-ring-offset-shadow: none;
}
body .contEdit {
  padding: 30px;
  border-width: 4px;
  border-color: #093e3b;
  position: relative;
  gap: 4%;
  width: 38%;
  background-color: #b8e2df;
  display: none;
  /* El div está oculto al inicio */
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}
body .contEdit.show {
  display: flex;
  /* Cuando se agrega la clase "show", el div se muestra con display:flex */
}
body .moverDerecha {
  animation-name: move-right-back;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes move-right-back {
  0% {
    left: 0;
  }
  50% {
    left: 130%;
  }
  100% {
    left: 0;
  }
}
body .contEditInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body .contBotones {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  right: 20px;
}
body .contBotones i {
  font-size: 25px;
  background-color: #855113;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
body .contBotones .fa-solid:hover {
  background-color: #d6882c;
}
body .contBotones .fa-solid:active {
  background-color: #855113;
}
body .buttonForm {
  padding: 10px;
  background-color: #855113;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body .contBotones2 {
  position: absolute;
  display: flex;
  width: 100px;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  bottom: 30px;
  right: 30px;
}
body .contObservaciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
body .contObservaciones textarea {
  border-radius: 10px;
  border-color: #093e3b;
  border-width: 4px;
}
body .googleMap {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  border-color: #093e3b;
  border-width: 4px;
}
body .oculto {
  display: none;
}
body .max-input {
  width: 220px;
}
body .head {
  width: 100%;
  height: 5%;
  background-color: #093e3b;
  position: absolute;
  top: 0;
  left: 0;
}
body .error {
  background-color: #ffb2b2;
}
body .success {
  background-color: #c1ffb2;
}
body .allDisabled {
  background-color: #d5d5d5;
  color: gray;
}
body .buttonEliminar {
  width: 41px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 7px;
}
body .formUpdate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .formAdd {
  display: flex;
  position: absolute;
  top: 10.5%;
  right: 160px;
  padding: 10px;
  background-color: #855113;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
body .formAdd:hover {
  background-color: #916f45;
}
body .formAdd:active {
  background-color: #855113;
}
body .no-result {
  position: absolute;
  margin-top: 5%;
  width: 60%;
}
body .no-edit {
  background-color: #E8ECEF;
  color: gray;
}
body .pointer {
  cursor: pointer;
}
body .separacion {
  gap: 20px;
  flex-wrap: wrap;
}
body .contInfo {
  width: 275px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
body .infoHeader {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
body .infoHeader h4 {
  color: white;
  font-weight: bold;
}
body .infoBody {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
body .infoBody h1 {
  color: white;
  font-weight: bold;
  font-size: 45px;
}
body .infoBody i {
  font-size: 50px;
  color: rgba(66, 62, 62, 0.5);
}
body .infoBottom {
  width: 100%;
  height: 25%;
  border-top: 1px solid;
}
body .bgcol1A {
  background-color: #0079F7;
}
body .bgcol1B {
  background-color: #017CFE;
}
body .brcol1 {
  border-color: #0268D6;
}
body .bgcol2A {
  background-color: #26A343;
}
body .bgcol2B {
  background-color: #26A343;
}
body .brcol2 {
  border-color: #228E3A;
}
body .bgcol3A {
  background-color: #F6BC09;
}
body .bgcol3B {
  background-color: #FEC206;
}
body .brcol3 {
  border-color: #D7A50F;
}
body .bgcol4A {
  background-color: #D53343;
}
body .bgcol4B {
  background-color: #DC3444;
}
body .brcol4 {
  border-color: #BB2E3A;
}
body .contChart {
  border-radius: 10px;
  width: 49%;
  height: 500px;
  overflow: hidden;
  border: 4px solid #093e3b;
  padding-bottom: 10px;
}
body .contHeaderChart {
  width: 100%;
  height: 12%;
  border-bottom: 1px solid #3c745c;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #093e3b;
}
body .contHeaderChart h4 {
  color: white;
  font-weight: bold;
}
body .contCanvas {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contBasic {
  padding: 20px;
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .contBasic h1 {
  font-size: 20px;
  font-weight: bold;
}
body .contBig {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contElem {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .contInv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contInv .inputInv {
  width: 60%;
  border: none;
  background-color: #f7df98;
  height: 130%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
  text-align: center;
}
body .contInv h5 {
  color: white;
  font-weight: bold;
}
body .contBot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;
  height: 130%;
  width: 150px;
  background-color: #855113;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
body .contBot i {
  font-size: 25px;
  color: white;
}
body .buttonDesv {
  background-color: #855113;
  width: 200px;
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .buttonDesv i {
  font-size: 25px;
  color: white;
}
body .sep2 {
  gap: 70px;
}
body .iconHeader {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}
body .calendar {
  width: 45%;
  height: 100%;
}
body .hover-event {
  cursor: pointer;
}
